<ion-content [fullscreen]="true">

  <!--<swiper-container slides-per-view="1.3" space-between="10" class="mySwiper">
    <swiper-slide *ngFor="let pelicula of peliculasRecientes">
      <img [src]="getPoster(pelicula.poster_path)" alt="{{pelicula.title}}" />
    </swiper-slide>
  </swiper-container>-->

  <ion-grid class="titulo-grid">
    <ion-row>
      <ion-col>
        <h3>Peliculas nuevas</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

<app-slideshow-backdrop [peliculas]="peliculasRecientes"> </app-slideshow-backdrop>

<ion-grid class="titulo-grid">
  <ion-row>
    <ion-col>
      <h3>Cartelera</h3>
    </ion-col>
  </ion-row>
</ion-grid>

<app-slideshow-poster [peliculas]="peliculasRecientes"> </app-slideshow-poster>

<ion-grid class="titulo-grid">
  <ion-row>
    <ion-col>
      <h3>Populares</h3>
    </ion-col>
  </ion-row>
</ion-grid>

<app-slideshow-pares [peliculas]="populares" (cargarMas)="cargarMas()"> </app-slideshow-pares>


</ion-content>
