<ion-content [fullscreen]="true">

  <ion-grid class="titulo-grid">
    <ion-row>
      <ion-col>
        <h3>Favoritos</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngFor="let grupo of generosConPeliculas">
    <!-- Nombre del género -->
    <ion-grid class="titulo-grid">
      <ion-row>
        <ion-col>
          <h4>{{ grupo.name }}</h4>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Swiper con posters -->
    <swiper-container
      *ngIf="grupo.peliculas.length"
      slides-per-view="auto"
      space-between="12"
      [free-mode]="true"
      [grab-cursor]="true"
      [speed]="500"
      class="mySwiper"
    >
      <swiper-slide *ngFor="let pelicula of grupo.peliculas">
        <ion-card>
          <img class="poster" [src]="(pelicula.poster_path || '') | imagen" />
          <ion-card-content>
            <div class="titulo-poster">{{ pelicula.title }}</div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </div>

</ion-content>
